@use "variables"

*
    margin: 0

*,::before,
::after
    box-sizing: variables.$natural-box

body
    min-height: 100vh
    background: variables.$natural-white
    min-width: 100vw
    // overflow: hidden
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-family: variables.$natural-font
    font-size: 1rem


.main-container
    max-width: 1440px
    display: grid
    gap: 1.5rem
    grid-gap: 1.5rem
    grid-template-columns: repeat(4,1fr)
    grid-template-areas:"da da jo ki" "je pa pa ki"

.container
    padding: 2rem
    color: variables.$natural-white

#daniel
    grid-area: da
    background: variables.$moderate-violet variables.$big-quote  no-repeat 83%  0 
    background-size: 9rem

   
#jonathan
    grid-area: jo
    background: variables.$light-gray-blue

#kira
    grid-area: ki
    background: variables.$natural-white
    color: black

#jeanette
    grid-area: je
    background: variables.$natural-white
    color: black

#patrick
    grid-area: pa
    background: variables.$very-dark-grayish-blue

.name-image
    display: inline-flex

    img
        border-radius: 50%
    
    .name-status
        margin-left: 1.5rem
    
    h3
        font-size: 1rem
        opacity: .5

.quoted-statement
    opacity: .7
    line-height:1.6rem

.container
    border-radius: 1rem

.container .heading
    font-size: 1.6rem
    font-weight: 600
    margin-top: 1rem
    margin-bottom: 1rem

#kira .quoted-statement
    margin-top: 2rem


h2
    font-size: 1.2rem


.img img
    width: 40px
    height: 40px

#daniel img ,#patrick img
    border: 2px solid variables.$moderate-violet

#jeanette,
#kira
    box-shadow: 0 8px 19px -8px black


.attribution
    margin-top: 2rem


// @media (max-width: 700px)
//     .main-container
//            margin: 1rem
//            grid-template-columns: 1fr
//            grid-template-areas:"da" "jo" "je" "pa" "ki"


// @media (max-width: 864px)
//     .main-container
//            margin: 1rem
//            grid-template-columns: repeat(2, 1fr)
//            grid-template-areas:"da jo" "je pa" "ki ki"

// @media (max-width: 998px)
//     .main-container
//            margin: 1rem
//            grid-template-columns: repeat(2, 1fr)
//            grid-template-areas:"da jo" "je pa" "ki ki"


@media (min-max: 375px) , (max-width: 998px) 
       .main-container
           margin: 1.3rem
           grid-template-columns: 1fr
           grid-template-areas:"da" "jo" "je" "pa" "ki"
